:root {
  --primary: #25408f;
  --secondary: #646464;
  --success: #8edd94;
  --info: #cabdf6;
  --warning: #f7d07e;
  --danger: #e79a82;
  --critcial: #170202;

  --background: #f7f7fb;
  --text-primary: #222222;
  --text-secondary: #444444;
  --border: #ebeef1;

  --sm-height: 31px;
}

.app-background {
  background-color: var(--background);
}

.primary-color {
  background-color: var(--primary);
}

.sm-height {
  height: var(--sm-height);
}
